body {
    position: relative;
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/Labyrinthe-2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #e5e7eb;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(2, 6, 23, 0.75);
    z-index: 0;
}


header {
    background: linear-gradient(180deg, #020617, #0b0f1a);
    padding: 40px 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.subtitle {
    opacity: 0.8;
    margin-bottom: 20px;
}

nav a {
    margin: 0 12px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

section {
    margin-bottom: 40px;
}

ul {
    list-style: square;
    padding-left: 20px;
}

.center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #38bdf8;
    color: #020617;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background-color: #0ea5e9;
}

footer {
    background-color: #020617;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    opacity: 0.8;
}

header, main, footer {
    position: relative;
    z-index: 1;
}